<!-- <div class="container">
    <h2>{{ deviceName }}</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date and Time</th>
          <th>Voltage (V)</th>
          <th>Current (A)</th>
          <th>Watt (W)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of deviceData">
          <td>{{ row.dateTime | date:'short' }}</td>
          <td>{{ row.voltage }}</td>
          <td>{{ row.current }}</td>
          <td>{{ row.watt }}</td>
        </tr>
      </tbody>
    </table>
  </div>
   -->

<div class="container">
  <h2 *ngIf="device">Readings for Device: {{ device.id }} </h2>

  <!-- Dropdown Menu for Filtering -->
  <div class="form-group">
    <label for="filterType">Filter by Type:</label>
    <select id="filterType" class="form-control" [(ngModel)]="selectedType" (change)="filterData()" value="all">
      <option value="all">All</option>
      <option value="1">Power</option>
      <option value="2">Voltage</option>
      <option value="3">Current</option>
    </select>
  </div>

  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Type</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of filteredData">
        <td>{{ row.timeStamp | date:'short' }}</td>
        <td>{{ row.readingLKPId === 1 ? 'Power' : (
          row.readingLKPId === 2 ? 'Voltage' : 'Current'
          ) }}</td>
        <td>{{ row.readingValue }}</td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>

  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Max</th>
        <th>Min</th>
        <th>Avg</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ maxValue }}</td>
        <td>{{ minValue }}</td>
        <td>{{ avgValue }}</td>
      </tr>
    </tbody>
  </table>
</div>